@font-face {
    font-family: ralewey_f;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: ralewey_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

body {
    font-family: ralewey_f, sans-serif;
    line-height: 1.45;
}
