:root{
    --color-black: #292B2E;
    --p : 30px;
    --orange : #FFB742;
    --white: #FFFFFF;
    }


body{
    background-color: #212529;
    }
    
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5%;
    }
    
    .header{
        display: inline-flex;
        color: var(--white);
        font-family: 'Poppins', sans-serif;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
        width: 30%;
        list-style: none;
    }

header > img{
        padding: 17px 0 0 50px;
        width: 90.16px;
        height: 66px;
    }
    
button{
    background-color: var(--orange);
    color: #212529;
    /*font-family: 'Poppins', sans-serif;*/
    font-weight: 700;
    border-radius: 50px;
    font-size: 18px;
    
    width: 121px;
    height: 54px;;
    margin-right: 2%;
}
    button:hover{
        background: linear-gradient(94.3deg, var(--orange) 0%, rgba(255, 123, 66, 0.76) 99.33%);
    }
    
article{
        margin-top: 108px;
    }
    
    .header_bio{
        text-align: center;
        box-sizing: border-box;
        color: var(--white);
        }

    h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 91px;
        margin-top: 0;
    }

    .header_bio > h3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        line-height: 51px;
        font-size: 24px;
    }
    
    .header li:hover{
        color: var(--orange);  
    }  

    .cards{
        display: flex;
        justify-content: space-around;
    }
    
    .card{
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        width: 416px;
        height: 120px;
        background-color: var(--color-black);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calc(var(--p) - 5px) var(--p);
        border-radius: 10px;
        text-align: center;
        box-sizing: border-box; 
    }

    .card:hover{
        background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
        color: #212529;
    }
    .card:hover .num{
        color: #212529;
    }
    

    .num{
        color: var(--orange);
        font-size: 32px;
        margin: 0;
        padding-bottom: 2%;
    }

    .text{
    font-size: 16px;
    margin: 0;
    padding-top: 2%;
    color: var(--white);
    }


    .card:hover{
        background: linear-gradient(94.3deg, var(--orange) 0%, rgba(255, 123, 66, 0.76) 99.33%);
        color: #212529;

    }
    .card:hover .numbers{
        color: #212529;
    }
    
    .about{
        margin-top: 221px;
        display: flex;
    }
    .about >.Info{
        padding-left: 5%;
        padding-right: 3%;
    }
    .about > img{
        padding-top: 3%;
    }
    
    .info{
        width: 550px;
        margin: 0px auto;
    }

    .info>p:first-of-type{
        color: var(--orange);
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 50px;
        width: 110px;
        text-align: center;
        margin-bottom: 0;
    }
    
    .info>p:last-of-type{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: var(--white);
        margin-bottom: 55px;
        margin-top: 0;
    }
    
    .skills{
        display: flex;
        padding: 3%;
        justify-content: space-around;
        margin: 0;
    }

    .skill{
        max-width: 1400px;
        display: inline-block;
        font-size: 20px;
        line-height: 30px;
        background: rgba(255, 255, 255, 0.08);
        padding: 6px 25px 6px 25px;
        }
    

    td{
        background-color: #383E45;
        border-radius: 10px;
    }
    table{
        width: 560px;
        height:190px;
        border-spacing: 16px;
        text-align: center;
        margin: 23px;
  
    }
    td:hover{
        background-color: rgba(255, 183, 66, 0.5);
    }
    

    .works{
        text-align: center;
    }
    .center{
        color: var(--orange);
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 50px;
        text-align: center;
        padding: 1% 2%;
        margin-left: 250px;
        margin-right: 250px;
        margin-bottom: 0;
    }
    .work{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: var(--white);
        display: flex;
        justify-content: space-around;
        padding: 0 355px;
        list-style: none;
    }
    .work li{
        padding: 1% 3%;
    }
    .work li:hover{
        background-color: var(--orange);
        color: #212529;
        border-radius: 10px;
    }
    .container{
        display: flex;
        justify-content: space-between;
        padding: 50px 50px;
    }
    
    h2{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 48px;
        color: var(--white);
        line-height: 50px;
        margin-bottom: 20px;
    }

   
    .testimonials > div h2{
        text-align: center;
        color: var(--white);
    }
    .center{
        max-width: 1400px;
        margin: 0 600px 0 600px; 
        display: inline-block;
        color: var(--orange);
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        padding: 6px 25px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 50px;
        padding: 6px 25px 6px 25px;
    }


    
    .reviews{
        display: flex;
        justify-content: space-around;
        padding: 60px 112px 0 112px;
    }
    .review{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calc(var(--p) - 5px) var(--p);
        text-align: center;
        box-sizing: border-box; 
    }

    footer{
        background-color: #1C1C1C;
        margin-top: 250px;
        color: #D4D4D4;
        display: flex;
        justify-content: space-around;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .links > h4{
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        color: var(--orange);
    }
    .links > p{
        font-family: Work Sans;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }
    .links > h5{
        font-family: Work Sans;
        font-weight: 700;
        font-size: 21.5865px;
        line-height: 32px;
        color: #F5FBF2;
    }
    .links > a{
        font-family: Work Sans;
        display: block;
        font-weight: 500;
        font-size: 17.9888px;
        line-height: 36px;
        color: #7B7B7B;
        text-decoration: none;
    }
    .links > a:hover{
        color: var(--orange);
    }
    
 